:root{
    --bg-color: linear-gradient(180deg, #0A0A0F 0%, #333333 100%);
    --primary-gradient: linear-gradient(180deg, #529FD2 0%, #2A526C 100%);
    --strock-color: #789BE7;
    --text-color:#ffff;
    --primary-color-card:#529FD2;
    --bg-card-color: linear-gradient(180deg, #00FFFF 0%, #FF00FF 100%);
}

.btn{
    width: 200px;
    height: 100px;
    background-color: ;
    border-radius: 10px;
    padding: 4px;
    
}

.flex-c{
    display: flex;
    justify-content: center;
    justify-items: center;
}


