<header class="navbar">
    <div class="container flex-between">
        <div class="logo">Game<span class="vers">Verse</span></div>

        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-btn">
            <i class="fa-solid fa-bars"></i>
        </label>

        <nav class="nav-links">
            <div class="menu-header flex-between">
                <h2 class="menu-title">Menu</h2>
                <label for="menu-toggle" class="close-btn">
                    <i class="fa-solid fa-xmark"></i>
                </label>
            </div>

            <ul>
                <li><a href="#" class="active">Accueil</a></li>
                <li><a href="/views/pages/catalogue.html">Catalogue</a></li>
                <li><a href="/views/pages/communaute.html">Communauté</a></li>
                <li><a href="/views/pages/actualites.html">Actualités</a></li>
            </ul>
        </nav>
    </div>
</header>