<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/catalogue.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <script src="https://kit.fontawesome.com/237dd4ebeb.js" crossorigin="anonymous"></script>
    <script src="/assets/htmx/htmx.min.js"></script>
</head>

<body>
    <header>
        <div hx-get="../components/nav.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </header>
    <main class="content-with-navbar">
        <section class="categories">
            <div class="categorie">
                EPS
            </div>
            <div class="categorie">
                EPS
            </div>
            <div class="categorie">
                RPG
            </div>
            <div class="categorie">
                Sport
            </div>
            <div class="categorie">
                Simulation
            </div>
            <div class="categorie">
                Indé
            </div>
        </section>

        <section class="filtres">
            <span>Sort By</span>
            <div class="filters-select">
                <select name="" id="">
                    <option value="">genre</option>
                    <option value="">plateforme</option>
                    <option value="">popularité</option>
                </select>
            </div>
        </section>
        <section class="fiches-jeux">
            <div class="cart-jeux">
                <div class="img">
                    <img src="/assets/img/actualites/ninja.webp" alt="">

                </div>
                <div class="box-content">
                    <h2 class="titre-jeux"> Eternal Legends</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus dolore dolorum perferendis nam sapiente distinctio a excepturi enim. Delectus ut unde nulla atque odio enim eum necessitatibus labore perferendis, harum architecto quisquam! Cum harum rerum numquam deserunt praesentium autem?</p>
                    <a href="" class="lien-jeux">www.Eternal.com</a>
                    <div class="starts">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="cart-jeux">
                <div class="img">
                    <img src="/assets/img/actualites/ninja.webp" alt="">

                </div>
                <div class="box-content">
                    <h2 class="titre-jeux"> Eternal Legends</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus dolore dolorum perferendis nam sapiente distinctio a excepturi enim. Delectus ut unde nulla atque odio enim eum necessitatibus labore perferendis, harum architecto quisquam! Cum harum rerum numquam deserunt praesentium autem?</p>
                    <a href="" class="lien-jeux">www.Eternal.com</a>
                    <div class="starts">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="cart-jeux">
                <div class="img">
                    <img src="/assets/img/actualites/ninja.webp" alt="">

                </div>
                <div class="box-content">
                    <h2 class="titre-jeux"> Eternal Legends</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus dolore dolorum perferendis nam sapiente distinctio a excepturi enim. Delectus ut unde nulla atque odio enim eum necessitatibus labore perferendis, harum architecto quisquam! Cum harum rerum numquam deserunt praesentium autem?</p>
                    <a href="" class="lien-jeux">www.Eternal.com</a>
                    <div class="starts">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="cart-jeux">
                <div class="img">
                    <img src="/assets/img/actualites/ninja.webp" alt="">

                </div>
                <div class="box-content">
                    <h2 class="titre-jeux"> Eternal Legends</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus dolore dolorum perferendis nam sapiente distinctio a excepturi enim. Delectus ut unde nulla atque odio enim eum necessitatibus labore perferendis, harum architecto quisquam! Cum harum rerum numquam deserunt praesentium autem?</p>
                    <a href="" class="lien-jeux">www.Eternal.com</a>
                    <div class="starts">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="cart-jeux">
                <div class="img">
                    <img src="/assets/img/actualites/ninja.webp" alt="">

                </div>
                <div class="box-content">
                    <h2 class="titre-jeux"> Eternal Legends</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus dolore dolorum perferendis nam sapiente distinctio a excepturi enim. Delectus ut unde nulla atque odio enim eum necessitatibus labore perferendis, harum architecto quisquam! Cum harum rerum numquam deserunt praesentium autem?</p>
                    <a href="" class="lien-jeux">www.Eternal.com</a>
                    <div class="starts">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="cart-jeux">
                <div class="img">
                    <img src="/assets/img/actualites/ninja.webp" alt="">

                </div>
                <div class="box-content">
                    <h2 class="titre-jeux"> Eternal Legends</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus dolore dolorum perferendis nam sapiente distinctio a excepturi enim. Delectus ut unde nulla atque odio enim eum necessitatibus labore perferendis, harum architecto quisquam! Cum harum rerum numquam deserunt praesentium autem?</p>
                    <a href="" class="lien-jeux">www.Eternal.com</a>
                    <div class="starts">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <div hx-get="../components/footer.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </footer>
</body>

</html>