<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/communaute.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <script src="https://kit.fontawesome.com/237dd4ebeb.js" crossorigin="anonymous"></script>
    <script src="/assets/htmx/htmx.min.js"></script>
</head>

<body>
    <script src="https://kit.fontawesome.com/237dd4ebeb.js" crossorigin="anonymous"></script>
    <header>
        <div hx-get="../components/nav.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </header>
    <main class="content-with-navbar">
        <section class="wraper-section">
            <div class="wraper">
                <h2>Formulaire d’inscription</h2>
                <div class="inscription">
                    <form action="" class="inscription-form">
                        <h1>login</h1>
                        <div class="input-box">
                            <input type="text" placeholder="username">
                        </div>
                        <div class="input-box">
                            <input type="email" placeholder="enter your email">
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="enter your Nekname">
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="password">
                        </div>
                        <div class="Remember-forget">
                            <label><input type="checkbox">Remember me</label>
                            <a href="index.html">forget password ?</a>
                        </div>
                        <div class="login">
                            <button type="submit" class="btn">login</button>
                        </div>
                        <div class="register-link">
                            <p>Don't have an account <a href="#">Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="Abonnement-section">
            <div class="Abonnement-content">
                <h2>Découvrez nos offres </h2>
                <div class="Abonnement-form">
                    <div class="offre-1">
                        <h3> this free plan</h3>
                        <img class="free-image" src="/assets/communaute_images/images (3).jpeg" alt="free image">
                        <span class="sant">$00</span>
                        <p><span>00</span>/mois</p>
                        <p>pendant 1 an puis 10,99€/mois</p>
                        <button class="button1">S'abonner</button>
                    </div>
                    <div class="offre-2">
                        <h3> this Premium plan</h3>
                        <img class="premium-image" src="/assets/communaute_images/images (1).jpeg" alt="premium image">
                        <span class="sant">$99</span>
                        <p><span>15</span>/mois</p>
                        <p>pendant 1 an puis 20,99€/mois</p>
                        <button class="button2">S'abonner</button>
                    </div>
                    <div class="offre-3">
                        <h3> this Pro Game plan</h3>
                        <img class="pro-image" src="/assets/communaute_images/images (2).jpeg" alt="pro image">
                        <span class="sant">$99</span>
                        <p><span>25</span>/mois</p>
                        <p>pendant 1 an puis 39,99€/mois</p>
                        <button class="button3">S'abonner</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="conditions-utilisateur-section">
            <div class="condition-title">
                <h2>Conditions d’utilisation</h2>
            </div>
            <div class="conditions">
                <h4>Lorem ipsum dolor sit amet:</h4>
                <p>-Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, aperiam corporis molestiae eius est
                    nulla nostrum</p>
                <p>-beatae, eum non esse velit, soluta distinctio veniam. Impedit consectetur earum sit a eveniet ullam
                    modi facilis</p>
                <p>-cupiditate dolorem debitis, ut numquam, officiis, placeat culpa fuga pariatur voluptates! Est, velit
                    sit. Nostrum</p>
                <p>-temporibus illo autem. Sit dolore quasi minus blanditiis nesciunt voluptates quis iure facilis
                    aliquam autem, repudiandae</p>
                <p>-quibusdam sunt, vero suscipit eveniet veritatis corrupti? Consequatur illo, ipsum eos nam doloribus
                    nemo amet pariatur illum,</p>
                <p>-praesentium distinctio quidem inventore! At accusamus, doloribus debitis placeat error libero
                    reprehenderit dignissimos, inventore vitae
                    magnam voluptate minima. Nobis.
                </p>
            </div>
            <div class="conditions">
                <h4>Lorem ipsum dolor sit amet:</h4>
                <p>-Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, aperiam corporis molestiae eius est
                    nulla nostrum</p>
                <p>-beatae, eum non esse velit, soluta distinctio veniam. Impedit consectetur earum sit a eveniet ullam
                    modi facilis</p>
                <p>-cupiditate dolorem debitis, ut numquam, officiis, placeat culpa fuga pariatur voluptates! Est, velit
                    sit. Nostrum</p>
                <p>-temporibus illo autem. Sit dolore quasi minus blanditiis nesciunt voluptates quis iure facilis
                    aliquam autem, repudiandae</p>
                <p>-quibusdam sunt, vero suscipit eveniet veritatis corrupti? Consequatur illo, ipsum eos nam doloribus
                    nemo amet pariatur illum,</p>
                <p>-praesentium distinctio quidem inventore! At accusamus, doloribus debitis placeat error libero
                    reprehenderit dignissimos, inventore vitae
                    magnam voluptate minima. Nobis.
                </p>
            </div>
            <div class="conditions">
                <h4>Lorem ipsum dolor sit amet:</h4>
                <p>-Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, aperiam corporis molestiae eius est
                    nulla nostrum</p>
                <p>-beatae, eum non esse velit, soluta distinctio veniam. Impedit consectetur earum sit a eveniet ullam
                    modi facilis</p>
                <p>-cupiditate dolorem debitis, ut numquam, officiis, placeat culpa fuga pariatur voluptates! Est, velit
                    sit. Nostrum</p>
                <p>-temporibus illo autem. Sit dolore quasi minus blanditiis nesciunt voluptates quis iure facilis
                    aliquam autem, repudiandae</p>
                <p>-quibusdam sunt, vero suscipit eveniet veritatis corrupti? Consequatur illo, ipsum eos nam doloribus
                    nemo amet pariatur illum,</p>
                <p>-praesentium distinctio quidem inventore! At accusamus, doloribus debitis placeat error libero
                    reprehenderit dignissimos, inventore vitae
                    magnam voluptate minima. Nobis.
                </p>
            </div>
        </section>
    </main>
    <footer>
        <div hx-get="../components/footer.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </footer>
</body>

</html>