<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/communaute.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <script src="https://kit.fontawesome.com/237dd4ebeb.js" crossorigin="anonymous"></script>
    <script src="/assets/htmx/htmx.min.js"></script>
</head>

<body>
    <script src="https://kit.fontawesome.com/237dd4ebeb.js" crossorigin="anonymous"></script>
    <header>
        <div hx-get="../components/nav.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </header>
    <main>
        <section class="wraper-section">
            <div class="wraper">
                <h2>Formulaire d’inscription</h2>
                <form action="" class="inscription-form">
                    <h1>login</h1>
                    <div class="input-box">
                        <input type="text" placeholder="username">
                    </div>
                    <div class="input-box">
                        <input type="email" placeholder="enter your email">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="password">
                    </div>
                    <div class="Remember-forget">
                        <label><input type="checkbox">Remember me</label>
                        <a href="index.html">forget password ?</a>
                    </div>
                    <div class="login">
                        <button type="submit" class="btn">login</button>
                    </div>
                    <div class="register-link">
                        <p>Don't have an account <a href="#">Register</a></p>
                    </div>
                </form>
            </div>
        </section>
        <section class="Abonnement-section">
            <div class="Abonnement-content">
                <h2>Découvrez nos offres </h2>
                <div class="Abonnement-form">
                    <div class="offre-1">
                        <h3>free</h3>
                        <img src="" alt="">
                        <span>$00</span>
                        <span>00</span>
                        <p>/Lorem ipsum dolor sit amet.</p>
                        <button>S'abonner</button>
                    </div>
                    <div class="offre-2">
                        <h3>Premium</h3>
                        <img src="" alt="">
                        <span>$99</span>
                        <span>15</span>
                        <p>/Lorem ipsum dolor sit amet.</p>
                        <button>S'abonner</button>
                    </div>
                    <div class="offre-3">
                        <h3>Premium</h3>
                        <img src="" alt="">
                        <span>$99</span>
                        <span>25</span>
                        <p>/Lorem ipsum dolor sit amet.</p>
                        <button>S'abonner</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div hx-get="../components/footer.html" hx-trigger="load" hx-swap="innerHTML"></div>
    </footer>
</body>

</html>