@import url("global.css");
/* .wraper-section{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.wraper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.inscription-form{
    color: aliceblue;
    width: 80%;
    box-shadow: 0 0 10px var(--color-accent);
    border-radius: 10px;
    border: 1px solid rgba(185, 25, 129, 0.808);
    background-color: var(--color-bg-light);
}

.wraper h2,.Abonnement-content h2,.conditions-utilisateur-section h2 {
    font-size: 35px;
    font-family: Robot;
    background: var(--gradient-btn);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wraper h1{
    font-size: 35px;
    text-align: center;
    color: var(--color-accent)
}
.wraper .input-box{
    width : 100%;
    height:60px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}.input-box input{
    border-radius: 10px;
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    border: 2px solid rgb(230, 129, 255);
    text-align: center;
    background-color: rgb(168, 175, 175);
}
.wraper .Remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.Remember-forget label input{
    accent-color: white;
    margin-right: 12px;
}
.Remember-forget a{
    color: azure;
    text-decoration: none;
}
.Remember-forget a:hover{
    text-decoration: underline;
}
.wraper .btn{
    width:50%;
    margin-left: 80px;
    height:45px;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight: 600;
}
.wraper .register-link{
    font-size:14.5px;
    text-align:center;
    margin-top:20px;
    margin: 20px 0 15px;
}
.register-link p a{
    color:aliceblue;
    text-decoration:none;
    font-weight: 600;
}.register-link p a:hover{
    text-decoration: underline;
}.login button:hover{
    transition:.3s;
    background-color: rgb(213, 4, 4);
    color: white;
}
.Abonnement-section{
    margin-top:30px ;
    width: 100%;
    height: 100%;
}.Abonnement-content{
    width: 100%;
     height: 100%;
}
.Abonnement-form{
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}.Abonnement-form .offre-1{
    width: 48%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(185, 25, 129, 0.808);
    border-radius: 5px;
    background-color:var(--color-bg-light) ;
}
.Abonnement-form #offre-3{
    position: relative;
    right: -110px;

}.Abonnement-form img{
    width: 160px;
    height: 100px;
}.Abonnement-form span{
    color: rgb(174, 22, 22);
    font-size: 30px;
    font-weight: 400;
    font-family: "Super Sliced";
}
.sant{
    position: relative;
    top: 30px;
    right: -30px;
}.offre-1 p{
    font-family: "Super Sliced";
    margin-left: 18px;
}.offre-1 button{
    width: 90px;
    border-radius:10px ;
    box-shadow: var(--shadow-strong);
    background-color: rgb(196, 14, 14);
    color: rgb(204, 209, 213);
    margin:10px 0 10px;
    text-transform: uppercase;
    height: 30px;
}
.conditions-utilisateur-section{
    margin-top:40px ;
    padding: 10px;
}.conditions h4{
    font-size: 15px;
    color: var(--color-stroke);
}.conditions p{
    font-weight: 0;
    font-size: 10px;
}