:root {
    --color-bg: #0A0A0F;
    --color-bg-light: #09090c;
    --color-text: #FFFFFF;
    --color-subtext: #B0B0B0;
    --color-primary: #3BA1FF;
    --color-accent: #C800FF;
    --color-stroke: #529FD2;

    --gradient-primary: linear-gradient(90deg, #3BA1FF 0%, #C800FF 100%);
    --gradient-btn: linear-gradient(90deg, #00FFFF 0%, #FF00FF 100%);

    --shadow-soft: 0 0 15px rgba(82, 159, 210, 0.3);
    --shadow-strong: 0 0 25px rgba(82, 159, 210, 0.6);

    --font-main: "Super Sliced";
    --font-body: "Roboto";
    --transition-fast: 0.3s ease-in-out;
}

@font-face {
    font-family: "Super Sliced";
    src: url("../assets/fonts/Super Sliced.otf");

}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf");

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.btn {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    color: var(--color-text);
    background: var(--gradient-btn);
    cursor: pointer;
    transition: var(--transition-fast);
    box-shadow: var(--shadow-soft);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-strong);
}

@media (min-width: 1024px) {
    .container {
        width: 80%;
    }
}