@import url("global.css");

body {
  width: 100% !important;
  overflow: hidden;
}
/* ========= HERO SECTION HAS START ================== */

.hero {
  width: 100vw;
  height: 50vh;
  display: grid;
  place-items: center;
}

.bg {
  height: 100%;
  width: 100%;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

.bg video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.info {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  /* background-color: red; */

  padding: 2%;
  display: flex;
  text-align: center;
  flex-direction: column;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info .logo {
  color: white;
  font-size: 3.2rem;
}

.logo span {
  color: var(--color-primary);
}

.title {
  font-size: 1.1rem;
}
.sub-title {
  font-size: 0.8rem;
}

.info-btn {
  display: inline-block;
  background-color: #1a1a2e;
  border-radius: 5px;
  border: 1px solid #2e334b;
  padding: 10px 15px;
}

/* ========= HERO SECTION HAS END ================== */

/* ========= START: "Dernières sorties & notes des joueurs"  ================== */

/* ========= END: Dernières sorties & notes des joueurs ================== */
